<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/bootstrap.php" backupGlobals="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" convertDeprecationsToExceptions="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="false">
    <include>
      <directory suffix=".php">./includes</directory>
    </include>
    <exclude>
      <directory suffix=".php">./includes/compatibility</directory>
      <directory suffix=".php">./includes/widgets</directory>
      <directory suffix=".php">./includes/admin</directory>
      <file>./includes/data/class-wc-cp-data.php</file>
      <file>./includes/class-wc-cp-api.php</file>
      <file>./includes/class-wc-cp-ajax.php</file>
      <file>./includes/class-wc-cp-background-updater.php</file>
      <file>./includes/class-wc-cp-order-again.php</file>
      <file>./includes/class-wc-cp-display.php</file>
      <file>./includes/class-wc-cp-install.php</file>
      <file>./includes/class-wc-cp-stock-manager.php</file>
      <file>./includes/wc-cp-generator-functions.php</file>
      <file>./includes/wc-cp-template-functions.php</file>
      <file>./includes/wc-cp-template-hooks.php</file>
      <file>./includes/wc-cp-update-functions.php</file>
      <file>./includes/wc-cp-widget-functions.php</file>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="unit">
      <directory prefix="test-" suffix=".php">./tests/unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
